.flex {
  display: flex;
  gap: 3rem;
}

.mobile-nav-toggle {
    display: none;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-right: 2rem;
    background-color: black;


    .primary-navigation {
        list-style: none;
        padding: 0;
        margin: 0;
        background: black;
        backdrop-filter: blur(1rem);
        

        a {
            text-decoration: none;
        }

        a > [aria-hidden="true"] {
            font-weight: 700;
            margin-inline-end: .5rem;

        }
    }
}


