.flex {
  display: flex;
  gap: 3rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    height: 60px;


    .primary-navigation {
        list-style: none;
        padding: 0;
        margin: 0;
        background: black;
        backdrop-filter: blur(1rem);
        

        a {
            text-decoration: none;
        }

        a > [aria-hidden="true"] {
            font-weight: 700;
            margin-inline-end: .5rem;

        }
    }
}

@media (max-width: 35em) {
    .primary-navigation {
        gap: 3em;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;

    }
}
