 .parent {
        display: grid;
        grid-template-columns: auto;

        .child {
            display: grid;
            grid-template-columns: auto auto;
            gap: 5rem;
        }

        p {
            color: red; 
        }
}
