@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: whitesmoke;
    letter-spacing: 0.4rem;
}


.container {

    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    .one {
        background-color: #303030;


        .intro-img {

        }
    }

    .two {
        background-color: #2b2b2b;
    }

    .three {
        background-color: #1f1f1f;
    }
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;


}