@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

$spacemono-font: 'Space Mono', monospace;
$inter-font: 'Inter', sans-serif;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    color: whitesmoke;

}


.container {

    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;


    a {
        text-decoration: none;

        :hover {
            color: #8BACAB;
        }

        }
    }

    .one {
        background-color: #303030;
        padding: 0rem 15rem;
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        gap: 10rem;



        .intro-text {
            width: 50%;
            font-family: $spacemono-font;
            

            h1 {
                font-size: 4em;
                font-family: $inter-font !important;
                font-weight: 600;

            }
            
            h2 {
                font-family: $inter-font;
           
            }

            .numb {
                font-size: 2em;
                letter-spacing: 0.5rem;
            }

            p {
                font-weight: 400;
            }

            span {
                font-size: 1.5em;
                text-decoration: underline;
            }

            .readmore {
                display: flex;
                justify-content: center;
            }

            

        }


        .intro-img {
            width: 50%;

            img {
                width: 100%;
                padding: 1rem;
                border: 1px solid white;
            }
 




        }
    }

    .two {
        background-color: #262626;
        font-family: $spacemono-font;
        display: flex;
        flex-direction: column;
        padding: 0rem 15rem;



        span {
            color: #c1c1c1;
        }


        .aboutme-text {
            width: 50%;
            padding: 0rem 0rem;
            text-align: center;
        }

        .aboutme-stuff {
            width: 50%;

            .aboutme-links {
                display: flex;
                flex-direction: row;
                flex-basis: 100%;
                gap: 5rem;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;

                .link {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }

                .link:hover {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }


            }
        }
    }

    .three {
        background-color: #222222;
    }

    .four {
        background-color: #1d1d1d;

    }


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;



    


}