@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: whitesmoke;

}


.container {

    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    .one {
        background-color: #303030;
        padding: 0rem 15rem;
        display: flex;
        flex-direction: row;
        gap: 10rem;

        .intro-text {
            width: 50%;

            h1 {
                font-size: 3em;
                letter-spacing: 0.9rem;
            }

            span {
                font-size: 1.5em;
                text-decoration: underline;
            }

        }


        .intro-img {
            width: 50rem;

            img {
                width: 100%;
                padding: 1rem;
                border: 1px solid white;
            }




        }
    }

    .two {
        background-color: #2b2b2b;
    }

    .three {
        background-color: #1f1f1f;
    }
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;


}